<% provide(:title, '') %> 
<div class="container">
  <div class="row">  
    <div class="col-md-12 header_img">
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <br>
      <h1 class="emphasis engraver_font" align="center">Our Whiskey and Rum Dream:</h1>
      <p>What are we about? Our primary goal is making quality whiskey and rum with our own twist. 
          Our plan is to germinate, ferment, distill, and age all of the whiskey. The rum will be 
          made from molasses and sugar from our home state of Louisiana. We want to bring a “Big Easy” 
          taste to the Northeast. We are here to give the public a local and authentic product to enjoy. 
          We can’t wait to share our spirit with the community!</p>
    </div><!-- /column-8 -->
    <div class="col-md-1"></div>
  </div><!-- /row -->
  <br>
  <div class="row">
    <div class="col-md-12">
      <h2 class="emphasis" align="center">Products to Come</h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <p>
        <span class="emphasis">Rye Whiskey</span> – We make from all local rye. We germinate/malt, smoke, ferment, 
        distill and age all of our own whiskey. This is a quality whiskey that is sure to make 
        you relax like no other. Sit back and enjoy the Rye life.
      </p>
      <br>
      <p>
        <span class="emphasis">Bourbon Whiskey</span> – We make from local corn. We ferment, distill and age all of 
        our own bourbon whiskey. This bourbon will put the “Bourbon Street” in your night. Too much, 
        and you might be looking for your shirt and pants.
      </p>
      <br>
      <p>
        <span class="emphasis">Clear Rum</span> - Made from Louisiana Molasses and Sugar. This is a crystal rum that is smooth and 
        refreshing. Look into this crystal ball and see nothing but a good time.
      </p>
    </div><!-- /column-6 -->
    <div class="col-md-6">
      <p>
        <span class="emphasis">Aged Rum</span> – Made from Louisiana Molasses and Sugar. You'll find this rum aged to perfection, and 
        not entirely dissimilar from Ms. Cindy Crawford...smooth (and you won’t have to close your eyes when you touch it).
      </p>
      <br>
      <p>
        <span class="emphasis">Spiced Rum</span> - Rum that is spiced like no other...it feels like a slap from your mama! 
        Not hard; just hard enough to embarrass you in front of your friends.
      </p>
      <br>
      <p>
        <span class="emphasis">Seasonal Rum</span> – This seasonal rum will be a surprise...more info to come. We devised this recipe 
        whilst living in Keene, NH.
      </p>
    </div><!-- /column-4 -->
  </div><!-- /row -->
  <hr>
  <br>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <a class="twitter-timeline" href="https://twitter.com/CopperXCannon" data-widget-id="426034058682843136">Tweets by @CopperXCannon</a>
        <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
          if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </div><!-- /col-6 -->
    <div class="col-md-3">
    </div>
  </div><!-- /row -->
  
</div><!-- /container -->