<% provide(:title, 'About') %>

<div class="row">
  <div class="col-md-12">
    <h1 class="emphasis">About Us</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Here's a little bit about us!</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h2><u class="emphasis">Background</u></h2>
    <div id="about_background_main">  
      <p class="about_text">
        <br />
        <br />
        <br />
        <br />
        Two cousins got together one day over drinks and pondered the question, "How do you really make whiskey so good?" 
        Through drinking and dedication to the art of spirits, we came up with a plan to start a distillery. Many 
        nights of experiments and planning have led to the existence of Copper Cannon. We hope you enjoy drinking it as 
        much as we do making it.
      </p>
      <p class="about_text">From your brothers from another mother,</p>
      <p class="emphasis about_text">– Blake and Chris</p>
      <br />
    </div>
    <div>
      <h2><u class="emphasis">Profiles</u></h2>
      <h4>Blake Amacker</h4>
      <p>Here's a little bit about Blake and his role in the process.</p>
      <h4>Chris Arnold</h4>
      <p>Here's a little bit about Chris and his role in the process.</p>
    </div>
    <br>
    <div>
      <h2><u class="emphasis">Our Location</u></h2>
      <p>
        Here's a little bit about our location. What makes it special? Does the building have an interesting history? 
        How can we tell an interesting story?
      </p>
    </div>
  </div><!-- col -->
</div><!-- row -->
