<% provide(:title, 'Contact Us') %>

<h1>Contact Us</h1>
<p>Want to stop by for a visit? Got a question about one of our products? Give us a shout!</p>
<!-- TODO: Add mailing list signup, form to send email, and contact info. -->