<% provide(:title, 'Events') %>

<div class="row">
  <div class="col-md-12">
    <h1>Events</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Planning your next bachelor party, office party, or wake? Copper Cannon Distillery
    is the place for you!</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h4>We've got concrete floors and a big drain right in the middle, so don't hold back!</h4>
    <p>Wes Anderson umami biodiesel YOLO, Terry Richardson helvetica tousled street art master 
      cleanse selfies Godard cornhole 8-bit pork belly scenester. Blog blue bottle Neutra, 
      polaroid pug cliche dreamcatcher. Ethnic wolf church-key, Wes Anderson tattooed meh 
      tumblr direct trade literally jean shorts swag shabby chic chillwave DIY pug. Tousled lomo 
      letterpress, flexitarian bitters Schlitz messenger bag Carles. Brooklyn shabby chic letterpress, 
      gluten-free blog Etsy ennui umami cliche hashtag leggings hoodie bitters. Pickled scenester 
      Austin craft beer, 3 wolf moon squid sriracha letterpress occupy. Flexitarian Odd Future semiotics, 
      church-key lomo 8-bit ethnic artisan seitan brunch.</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <h3>Main Hall</h3>
    <a href="http://lorempixel.com/800/500/nightlife/1" alt="Party" title="Party">
      <img src="http://lorempixel.com/400/200/nightlife/1" class="img-rounded" alt="Party.">
    </a>
  </div>
  <div class="col-md-4">
    <h3>Small Party Room</h3>
    <a href="http://lorempixel.com/800/500/nightlife/2" alt="Party" title="Party">
      <img src="http://lorempixel.com/400/200/nightlife/2" class="img-rounded" alt="Party.">
    </a>
  </div>
  <div class="col-md-4">
    <h3>Other Room</h3>
    <a href="http://lorempixel.com/800/500/nightlife/3" alt="Party" title="Party">
      <img src="http://lorempixel.com/400/200/nightlife/3" class="img-rounded" alt="Party.">
    </a>
  </div>
</div>