<% provide(:title, 'Events') %>

<div class="row">
  <div class="col-md-12">
    <h1 class="emphasis">Events</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Planning your next bachelor party, office party, or wake? Copper Cannon Distillery
    is the place for you!</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <p>Wes Anderson umami biodiesel YOLO, Terry Richardson helvetica tousled street art master 
      cleanse selfies Godard cornhole 8-bit pork belly scenester. Blog blue bottle Neutra, 
      polaroid pug cliche dreamcatcher. Ethnic wolf church-key, Wes Anderson tattooed meh 
      tumblr direct trade literally jean shorts swag shabby chic chillwave DIY pug. Tousled lomo 
      letterpress, flexitarian bitters Schlitz messenger bag Carles. Brooklyn shabby chic letterpress, 
      gluten-free blog Etsy ennui umami cliche hashtag leggings hoodie bitters. Pickled scenester 
      Austin craft beer, 3 wolf moon squid sriracha letterpress occupy. Flexitarian Odd Future semiotics, 
      church-key lomo 8-bit ethnic artisan seitan brunch.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3 class="emphasis">Main Hall</h3>
    <%= link_to(image_tag("events/event_1_IMG_0072.png", :alt => "Event", :title => "Event", :class=>"img-rounded gallery_img")) %>
  </div>
  <div class="col-md-4">
    <h3 class="emphasis">Small Party Room</h3>
    <%= link_to(image_tag("events/event_2_IMG_2729.png", :alt => "Event", :title => "Event", :class=>"img-rounded gallery_img")) %>
  </div>
  <div class="col-md-4">
    <h3 class="emphasis">Other Room</h3>
    <%= link_to(image_tag("events/event_3_IMG_0424.png", :alt => "Event", :title => "Event", :class=>"img-rounded gallery_img")) %>
  </div>
</div>