<% provide(:title, 'Gallery') %>

<div class="row">
  <div class="col-md-12">
    <h1>Gallery</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <a href="http://lorempixel.com/400/200/cats" target="blank"><img src="http://lorempixel.com/400/200/cats/1" alt="Add description of image here"></a>
  </div>
  <div class="col-md-3">
    <a href="http://lorempixel.com/400/200/cats" target="blank"><img src="http://lorempixel.com/400/200/cats/2" alt="Add description of image here"></a>
  </div>
  <div class="col-md-3">
    <a href="http://lorempixel.com/400/200/cats" target="blank"><img src="http://lorempixel.com/400/200/cats/3" alt="Add description of image here"></a>
  </div>
  <div class="col-md-3">
    <a href="http://lorempixel.com/400/200/cats" target="blank"><img src="http://lorempixel.com/400/200/cats/4" alt="Add description of image here"></a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <a href="http://lorempixel.com/400/200/cats" target="blank"><img src="http://lorempixel.com/400/200/cats/5" alt="Add description of image here"></a>
  </div>
  <div class="col-md-3">
    <a href="http://lorempixel.com/400/200/cats" target="blank"><img src="http://lorempixel.com/400/200/cats/6" alt="Add description of image here"></a>
  </div>
  <div class="col-md-3">
    <a href="http://lorempixel.com/400/200/cats" target="blank"><img src="http://lorempixel.com/400/200/cats/7" alt="Add description of image here"></a>
  </div>
  <div class="col-md-3">
    <a href="http://lorempixel.com/400/200/cats" target="blank"><img src="http://lorempixel.com/400/200/cats/8" alt="Add description of image here"></a>
  </div>
</div>