<% provide(:title, '') %>

<% provide(:jumbotron, '
  <h1>Copper Cannon Distillery</h1>
  <small><p>Come get your motha-fuckin\' swerve on at Copper Cannon Distillery! This ain\' yo momma\'s toilet-wine she be makin\' up
in prison, baby; this shit the real deal rightcheer, yaheardme? You think I\'m playin?</p></small>
  <p><a class="btn btn-primary btn-lg" role="button">Activate Swerve &raquo;</a></p>
'.html_safe) %>

<div class="container">
  <div class="row">  
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <h2>Past</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
        <div class="col-md-4">
          <h2>Present</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
        <div class="col-md-4">
          <h2>Future</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
      </div><!-- row -->
      <div class="row">
        <div class="col-md-12">
          <h2>Products</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
          ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <%= link_to "<button class='btn btn-default' role='button'>View products &raquo;</button>".html_safe, products_path %>
        </div>
      </div><!-- /row -->
    </div><!-- /column-9 -->
    <br/>
    <div class="col-md-3">
      <a class="twitter-timeline" href="https://twitter.com/bogusbarrett" data-widget-id="331417182502256640">Tweets by @bogusbarrett</a>
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>

<!--
      -->
    </div><!-- /column-3 -->
  </div><!-- /row -->  
  
  <hr class="featurette-divider">
  
  <div class="row">
    <div class="col-md-3">
      <h2>Tours</h2>
      <p>We offer tours every Friday starting at 4 PM. Special tours can be arranged too; just send us an email from our 
        <%= link_to "Contact", new_contact_path %> page! Perfect for elementary school field-trips!</p>
      <%= link_to "<button class='btn btn-default' role='button'>View details &raquo;</button>".html_safe, tours_path %>
    </div>
    <div class="col-md-3">
      <h2>Events</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
        ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      <%= link_to "<button class='btn btn-default' role='button'>View details &raquo;</button>".html_safe, events_path %>
    </div>
    <div class="col-md-3">
      <h2>Friends</h2>
      <p>We'd like to thank the following distilleries for guiding us along the way:</p>
      <ul>
        <li><a href="http://www.copperfox.biz/index" target="blank">Copper Fox Distillery</a></li>
        <li><a href="http://www.flaghill.com" target="blank">Flaghill Distillery</a></li>
        <li><a href="http://www.seahaggdistillery.com" target="blank">Sea Hagg Distillery</a></li> 
      </ul>
    </div>
    <div class="col-md-3">
      <h2>News Updates</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
          ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      <ul>
        <li><a href="#" target="blank">Signing the lease on our building</a></li>
        <li><a href="#" target="blank">Starting construction</a></li>
        <li><a href="#" target="blank">Applying for our TTB permits</a></li>
        <li><a href="#" target="blank">Developing our products</a></li>
        <li><a href="#" target="blank">New products on the way!</a></li>
        <li><a href="#" target="blank">Meet our R&D still</a></li>
      </ul>
    </div><!-- /column -->
  </div><!-- /row -->
</div><!-- /container -->