<% provide(:title, 'Press') %>

<div class="row">
  <div class="col-md-12">
    <h1 class="emphasis">Press</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Here's what they're all saying...</h3>
  </div>
</div>
<hr>
<div class="row content_top_margin">
  <div class="col-md-2">March 22, 2014</div>
  <div class="col-md-8"><p>The Battleboro Reformer's coverage of our successful hearing with the Chesterfield 
    Zoning Board of Adjustment.</p>
  </div>
  <div>
    <a class="emphasis" href="http://m.reformer.com/brattreformer/db_294474/contentdetail.htm?contentguid=x5OhKRpz&full=true#display" 
       target="blank">Link</a>
  </div>
</div>
