<% provide(:title, 'Press') %>

<div class="row">
  <div class="col-md-12">
    <h1 class="emphasis">Press</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Here's what they're all saying...</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <blockquote>
      <p>"It's fucking delicious and will get you drunk."</p>
      <small class="emphasis">Terry James from <cite title="Drunkards Monthly">Drunkards Monthly</cite></small>
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <p>"Making booze from fruit? Why didn't I think of that???"</p>
      <small class="emphasis">Billy Wangalot from <cite title="Idiotic Press">Idiotic Press</cite></small>
    </blockquote>
  </div>
  <div class="col-md-4">
    <blockquote>
      <p>"Finally, an alcohol I can believe in."</p>
      <small class="emphasis">Dr. Phil from <cite title="Dr. Phil's TV show">Dr. Phil's TV show</cite></small>
    </blockquote>
  </div>
</div>
