<% provide(:title, 'Products') %>

<!-- Add lightbox feature to pics -->

<div class="row">
  <div class="col-md-12">
    <h1>Products</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Ever just wanted to drink a bunch of whiskey? Boy, have we got something for you...</h3>
  </div>
</div>
<hr>
<div class="row">
  <!-- Product row -->
  <div class="col-md-3">
    <h4>Product #1 <span class="label label-success">New</span></h4>
    <a href="http://lorempixel.com/800/500/cats/1" alt="This is Cat 1" title="Cat 1">
      <img src="http://lorempixel.com/400/200/cats/1" class="img-rounded" alt="This is what a cat looks like.">
    </a>
  </div>
  <div class="col-md-3">
    <h4>Description</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
  <div class="col-md-6">
    <h4>Details</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
</div>
<hr>
<div class="row">  
<!-- Product row -->
  <div class="col-md-3">
    <h4>Product #2</h4>
    <a href="http://lorempixel.com/800/500/cats/2" alt="This is Cat 2" title="Cat 2">
      <img src="http://lorempixel.com/400/200/cats/2" class="img-rounded" alt="This is what a cat looks like.">
    </a>
  </div>
  <div class="col-md-3">
    <h4>Description</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
  <div class="col-md-6">
    <h4>Details</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
</div>
<hr>
<div class="row">
  <!-- Product row -->
  <div class="col-md-3">
    <h4>Product #3</h4>
    <a href="http://lorempixel.com/800/500/cats/3" alt="This is Cat 3" title="Cat 3">
      <img src="http://lorempixel.com/400/200/cats/3" class="img-rounded" alt="This is what a cat looks like.">
    </a>
  </div>
  <div class="col-md-3">
    <h4>Description</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
  <div class="col-md-6">
    <h4>Details</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
</div>
<hr>
<div class="row">
  <!-- Product row -->
  <div class="col-md-3">
    <h4>Product #4</h4>
    <a href="http://lorempixel.com/800/500/cats/4" alt="This is Cat 4" title="Cat 4">
      <img src="http://lorempixel.com/400/200/cats/4" class="img-rounded" alt="This is what a cat looks like.">
    </a>
  </div>
  <div class="col-md-3">
    <h4>Description</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
  <div class="col-md-6">
    <h4>Details</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
</div>  
<hr>
<div class="row">
  <!-- Product row -->
  <div class="col-md-3">
    <h4>Product #5</h4>
    <a href="http://lorempixel.com/800/500/cats/5" alt="This is Cat 5" title="Cat 5">
      <img src="http://lorempixel.com/400/200/cats/5" class="img-rounded" alt="This is what a cat looks like.">
    </a>
  </div>
  <div class="col-md-3">
    <h4>Description</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
  <div class="col-md-6">
    <h4>Details</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
</div>
<hr>
<div class="row">
  <!-- Product row -->
  <div class="col-md-3">
    <h4>Product #6</h4>
    <a href="http://lorempixel.com/800/500/cats/6" alt="This is Cat 6" title="Cat 6">
      <img src="http://lorempixel.com/400/200/cats/6" class="img-rounded" alt="This is what a cat looks like.">
    </a>
  </div>
  <div class="col-md-3">
    <h4>Description</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
  <div class="col-md-6">
    <h4>Details</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, 
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
</div>