<% provide(:title, 'Products') %>

<!-- Add lightbox feature to pics -->

<div class="row">
  <div class="col-md-12">
    <h1 class="emphasis">Products to Come</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Check out our fine products coming from Copper Cannon.</h3>
  </div>
</div>
<hr>
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>
<div id="links">
  <div class="row content_top_margin">
    <!-- Product row -->
    <div class="col-md-3">
      <h4 class="emphasis">Rye Whiskey <span class="label label-success">New</span></h4>
      <%= link_to(image_tag("products/product_1_sm_2726.png", :alt => "Product #1", :title => "Product #1", :class=>"img-rounded"),
            image_path("products/product_1_lg_2726.png")) %>
    </div>
    <div class="col-md-3">
      <h4 class="emphasis">Description</h4>
      <p>Rye Whiskey made from local grains.</p>
    </div>
    <div class="col-md-6">
      <h4 class="emphasis">Details</h4>
      <p>We plan to make from all local rye. We will germinate/malt, smoke, ferment, distill and age all of our own whiskey. This will be a quality whiskey that is sure to make you relax like no other. Sit back and enjoy the Rye life.</p>
    </div>
  </div>
  <hr>
  <div class="row">  
  <!-- Product row -->
    <div class="col-md-3">
      <h4 class="emphasis">Bourbon</h4>
      <%= link_to(image_tag("products/product_1_sm_2726.png", :alt => "Product #1", :title => "Product #1", :class=>"img-rounded"),
            image_path("products/product_1_lg_2726.png")) %>
    </div>
    <div class="col-md-3">
      <h4 class="emphasis">Description</h4>
      <p>Nice smooth Bourbon from local corn.</p>
    </div>
    <div class="col-md-6">
      <h4 class="emphasis">Details</h4>
      <p>We plan to make from local corn. We will ferment, distill and age all of our own bourbon whiskey. This bourbon will put the “Bourbon Street” is your night. Too much and you might be looking for your shirt and pants.  This is 2+ years out due the aging requirements.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- Product row -->
    <div class="col-md-3">
      <h4 class="emphasis">Rum</h4>
      <%= link_to(image_tag("products/product_1_sm_2726.png", :alt => "Product #1", :title => "Product #1", :class=>"img-rounded"),
            image_path("products/product_1_lg_2726.png")) %>
    </div>
    <div class="col-md-3">
      <h4 class="emphasis">Description</h4>
      <p>A variety of rums will be coming.</p>
    </div>
    <div class="col-md-6">
      <h4 class="emphasis">Details</h4>
      <p>Made from Louisiana Molasses and Sugar. There will be a crystal rum, an aged rum, a spiced rum and a seasonal rum. These will bring nothing but a good time. </p>
    </div>
  </div>
</div>
<script>
  document.getElementById('links').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
  };
</script>