<% provide(:title, 'Tours') %>

<div class="row">
  <div class="col-md-12">
    <h1 class="emphasis">Tours</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Come and see us!</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <p>Going to be off the chain...more to come once we get setup!!!</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <%= link_to(image_tag("events/event_1_IMG_0072.png", :alt => "Event", :title => "Event", :class=>"img-rounded gallery_img")) %>
  </div>
  <div class="col-md-4">
    <%= link_to(image_tag("events/event_1_IMG_0072.png", :alt => "Event", :title => "Event", :class=>"img-rounded gallery_img")) %>
  </div>
  <div class="col-md-4">
    <%= link_to(image_tag("events/event_1_IMG_0072.png", :alt => "Event", :title => "Event", :class=>"img-rounded gallery_img")) %>
  </div>
</div>