<!--<% flash.each do |name, msg| %>
#  <% if msg.is_a?(String) %>
#    <%= content_tag :div, msg, :class => "flash_#{name}" %>
#  <% end %>
#<% end %>-->

<% flash.each do |key, value| %>
  <% if value.is_a?(String) %>
    <div class="<%= flash_class(key) %>">
      <div class="container">
        <%= value %>
      </div>
    </div>
  <% end %>
<% end %>